<form method="POST" action="#" role="none" class="menu">
  <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
  <a href="/erz/wznowienie" class="item" id="menu-item-0">PILNE
    PODŁĄCZENIE (WINDYKACJA)</a>
  <a href="/erz/smart" class="item" id="menu-item-0">POWINDYKACYJNE WZNOWIENIE ENERGII - LICZNIK SMART</a>
  <a href="/erz/wycofanie" class="item" id="menu-item-1">WYCOFANIE
    ZLECENIA</a>
  <a href="/erz-awaryjne" class="item" id="menu-item-2">AWARYJNE
    WZNOWIENIE EE</a>
  <a href="/erz-zagrozenie" class="item" id="menu-item-0">ZAGROŻENIE
    ŻYCIA</a>
</form>

